  html, body {
    height: 100%;
  }
  #container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 42.3%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .element {
    height: 50%;
    overflow: hidden;
  }
  #column1{
  }
  #topleft {
    background: red;
  }
  #bottomleft {
    background: white;
  }
  #topmiddle {
    background: white;
  }
  #bottommiddle {
    background: purple;
  }
  #right {
    background: blue;
    overflow-y: auto;
  }
tr{
    width: 91% !important;
}
table {
  width:auto;
}
td {
  white-space:nowrap;
}
td:last-child {
  width:54%;
}

.table-responsive {
    width: 50%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}
.table-responsive>.table {
    margin-bottom: 0;
}
#settings_table > tr{
  padding: 10px;
}
#patient_data_panel{
  width:87%;
  float: right;
}
#instructions_panel_body{
  height: 20%;
}
