<!DOCTYPE HTML>
{% load staticfiles %}
{% load compress %}
<head>
  <meta charset="utf-8">
  {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'bootstrap/less/bootstrap.less' %}">
    {% with 'venueview_temp_app/themes/'|add:client_profile.css_basename|add:'.less' as theme_path %}
      <link rel="stylesheet" type="text/less" media="all" href="{% static theme_path %}">
    {% endwith %}
    <link rel="stylesheet" href="{% static 'venueview_temp_app/less/venueview.less' %}" />
    {% block extrastyle %}{% endblock %}
  {% endcompress %}
  {% if debug %}
    <script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
  {% endif %}
  <title>
      {% block title_with_trailing_dash %}{% endblock %}
      {% if client_profile %}{{ client_profile.client }} -{% endif %}
      VenueView
  </title>
  {% block extrahead %}{% endblock %}
</head>
{% with 'venueview_temp_app/logos/'|add:client_profile.logo_basename|add:'_small.png' as logo_path %}
  <img id="header-logo" src="{% static logo_path %}" alt="">
{% endwith %}
{% block content %}{% endblock %}
<script src='{% static 'underscore/underscore.js' %}'></script>
<script src='{% static 'jquery/dist/jquery.js' %}'></script>
<script src='{% static 'bootstrap/dist/js/bootstrap.js' %}'></script>
{% block extrajs %}{% endblock %}
